#{extends 'main.html' /}
<div class="box content">
<h2>Blog administration</h2>
<fieldset>
	<legend>Write a new post</legend>
	#{ifErrors}
		<p>errors W${error}</p>
	#{/ifErrors}
	#{form @Blog.insert()}

	<ul class="formulaire">
		<li>
			<input type="text" class="text" id="title" name="title" value="${flash.title}" />
			<label class="right" for="title">Title</label>  #{error 'title' /}
			
		</li>
		<li>
			<textarea rows="6" cols="80" name="content">${flash.content}</textarea> 
			#{error 'content' /}
		</li>
		<li>
			<input type="submit" value="Submit me" />
		</li>
	</ul>

#{/form}
</fieldset>
</div>