<div id="footer">
	<div class="container">
		<hr class="space" />		
		<div class="span-6 prepend-18 last" id="personnal-infos">
			<h2>About me</h2>
			<p>Hello visitor, welcome to my place. <br />My name is Erik Clairiot, and I am a Java human developer.</p>
			
			<img class="image-left" id="identity" src="http://www.gravatar.com/avatar/99c2c442090782f65a205e7858b44f67.png" width="80px" height="80px" alt="me" />
	
			<ul class="navigation">
				<li><a href="http://github.com/ipingu">github</a></li>
				<li><a href="http://www.viadeo.com/fr/profile/erik.clairiot">viadeo</a></li>
				<li><a href="#">contact me</a></li>
			</ul>
		</div>
	
		<hr class="space" />
		<hr class="space" />

		<div class="span-24">
			<p class="quiet">What could I say ?</p>
		</div>
	</div>
</div>