<!--  Navigation menu -->
<div class="box" id="sidebar-main">
	<h2>Navigation</h2>
	<ul class="navigation">
		<li id="pictures-book"><a href="#">Pictures book</a></li>
		<li id="java-development"><a href="/development">Java development</a></li>
		<li id="miscellaneous"><a href="/miscellaneous">Miscellaneous</a></li>
	</ul>
</div>

<!-- Recent content menu -->
<!-- 
<div class="box" id="sidebar-recent">
	<h2>Recent</h2>
	<ul class="navigation">
		<li><a href="#">Maven integration with GWT</a></li>
		<li><a href="#">Use of Drools for CEP</a></li>
		<li><a href="#">140 named colors you dreamed of (bla bla bla)</a></li>
		<li><a href="#">Island 2010</a></li>
	</ul>
</div>
-->
<!-- Last tweets -->
<!-- 
<div class="box">
	<h2>Tweets</h2>
	<div class="tweet"></div>
</div>
 -->